.header-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1cm;
  margin-left: 1.5cm;
  margin-right: 1.5cm;
  background-color: rgb(172, 226, 172);
  border-radius: 16px;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 10px;
  margin-left: 30px;
  color: black;
}

.header-content h1 {
  font-size: 4rem;
  font-family: "Saira", sans-serif;
}

.header-content p {
  /* font-family: "Saira", sans-serif; */
  flex-direction: column;
  
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2rem;
  line-height: 1.9;
  color: rgb(76, 69, 69);
}

.fullname {
  font-size: 3rem;
  margin-top: 10px;
  color: #e08804;
  font-family: "Play", sans-serif;
}

/* Media query */
@media (min-width: 788px) {
  .header-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header-content {
    width: 60%;
  }
}
