nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: beige;
}

nav a {
  border-radius: 16px;
  width: 50;
  height: 50;
  text-decoration: none;
  color: black;
}

nav a:hover {
  background-color: blue;
  color: #fff;
  padding: 5px;
}
